/* ---------------------------------
 *              Card
 * --------------------------------- */
.card
    overflow: visible
    border-radius: $card-radius
    &:hover
        box-shadow: 0 6px 15px rgba(74,137,246,0.5), 0 0 1px rgba(218,70,96,0.25)

    & + .card, & + .column-right-shadow
        margin-top: 1.5rem

    .card-image
        overflow: hidden
        border-top-left-radius: $card-radius
        border-top-right-radius: $card-radius

    .media + .media
        border: none
        margin-top: 0
